body {
    background-image: url(../recursos/imagenes/tecnologia.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    width: 100%;

    
}

#calendar {
    flex-grow: 1;
    margin-right: 20px;
    width: 100px;
    
    
}

#calendarNav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#calendarNav button {
    width: 150px;
    padding: 10px;
    cursor: pointer;
    background-color: #1abc9c;
}

.calendarView {
    display: none;
}

#yearView,
#monthView {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2px;
    
}

#dayView {
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    gap: 5px;
}

.month {
    background-color: #2980b9;
    padding: 10px;
    border: 1px solid #fff;
}

.month h3 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dayOfWeek {
    text-align: center;
    font-weight: bold;
    padding: 1px;
    background-color: #2980b9;
}

.day, .empty {
    text-align: center;
    padding: 1px;
    background-color: #3498db;
    border: 1px solid #fff;
}

.day:hover {
    background-color: #1abc9c;
    cursor: pointer;
}


#eventForm {
    width: 300px;
    margin-top: 59px;
    background-color: #2980b9;
    padding: 20px;
    border: 1px solid #fff;
}

#eventForm h2 {
    text-align: center;
    color: #ffffff;
}

#eventForm form {
    display: flex;
    flex-direction: column;
}

#eventForm label, 
#eventForm input, 
#eventForm textarea, 
#eventForm button {
    margin-bottom: 10px;
}

#eventForm button {
    background-color: #1abc9c;
    border: none;
    color: #fff;
    padding: 20px;
}

#eventList {
    list-style-type: none;
    padding: 0;
    
}
